parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#Call to an undefined method.*#'
        - message: '#Access to an undefined property.*#'
        - message: '#Class .* not found#'
        - message: '#Instantiated class .* not found#'
        - message: '#Undefined class constant#'
        - message: '#Undefined function.*#'
        - message: '#Function .* not found#'
        - message: '#Parameter .* expects .* array\|object, .* given#'
        - message: '#.* expects parameter .* to be array\|object, .* given#'
        - message: '#.* expects parameter .* to be array, .* given#'
        - message: '#.* expects parameter .* to be callable\\(\\), .* given#'
        - message: '#.* expects parameter .* to be int, .* given#'
        - message: '#.* expects parameter .* to be string, .* given#'
        - message: '#.* expects parameter .* to be bool, .* given#'
        - message: '#.* expects parameter .* to be float, .* given#'
        - message: '#.* expects parameter .* to be resource, .* given#'
        - message: '#.* expects parameter .* to be array\|string, .* given#'
        - message: '#.* expects parameter .* to be string, array\|string given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|bool\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|iterable\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|iterable\|Countable\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|iterable\|Countable\|ArrayAccess\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|iterable\|Countable\|ArrayAccess\|Traversable\|null given#'
        - message: '#.* expects parameter .* to be array\|string, array\|string\|int\|bool\|float\|resource\|callable\|object\|iterable\|Countable\|ArrayAccess\|Traversable\|SimpleXMLElement\|DOMNode\|stdClass\|null given#'
