parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: admin/views/dashboard.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: admin/views/guild-roster.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: admin/views/guild-roster.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 7
			path: admin/views/reports.php

		-
			message: '#^Cannot access property \$options on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Cannot access property \$prefix on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Cannot access property \$usermeta on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Cannot access property \$users on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 33
			path: admin/views/reports.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: admin/views/reports.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 3
			path: admin/views/reports.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: admin/views/tools.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: admin/views/user-management.php

		-
			message: '#^Call to function is_object\(\) with GW2_Guild_Login_Admin will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Call to function method_exists\(\) with GW2_User_Handler and ''process_login'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Parameter \#1 \$object_or_class of function is_a expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Path in require_once\(\) "/var/www/html/wp\-admin/includes/plugin\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Path in require_once\(\) "/var/www/html/wp\-admin/includes/upgrade\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: gw2-guild-login.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/GW2_2FA_Handler.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 5
			path: includes/GW2_2FA_Handler.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: includes/GW2_2FA_Handler.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/GW2_2FA_Handler.php

		-
			message: '#^Parameter \#1 \$object_or_class of function is_a expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: includes/GW2_Login_Shortcode.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot access offset ''appearance_accent_color'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot access offset ''appearance_force_dark'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot access offset ''appearance_logo'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot access offset ''appearance_primary_color'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot call method get_names\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''sanitize_text_field'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$name of function translate_user_role expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, mixed given\.$#'
			identifier: argument.type
			count: 20
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, mixed given\.$#'
			identifier: argument.type
			count: 9
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Parameter \#1 \$url of function esc_url expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Part \$accent \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Part \$primary \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: includes/admin/class-gw2-guild-login-admin.php

		-
			message: '#^Cannot call method add\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: includes/class-gw2-2fa-admin.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-gw2-2fa-login.php

		-
			message: '#^Parameter \#2 \$codes of method GW2_2FA_Login\:\:send_backup_codes_email\(\) expects array\<int, string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-gw2-2fa-login.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: includes/class-gw2-api.php

		-
			message: '#^Cannot access property \$ID on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-gw2-guild-login.php

		-
			message: '#^Action callback returns GW2_Guild_Ranks but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Cannot access property \$roles on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Path in require_once\(\) "/var/www/html/wp\-admin/includes/upgrade\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: includes/class-gw2-guild-ranks.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/class-gw2-password-reset.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: includes/class-gw2-password-reset.php

		-
			message: '#^Call to function ctype_digit\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: templates/dashboard/dashboard.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: templates/dashboard/dashboard.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: templates/dashboard/dashboard.php

		-
			message: '#^Call to function is_string\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: templates/dashboard/dashboard.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: templates/dashboard/dashboard.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: templates/dashboard/dashboard.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: test-admin-interface.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/bootstrap.php
