includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    memoryLimit: 512M
    baseline: phpstan-baseline.neon
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    paths:
        - .
    excludePaths:
        - vendor/*
        - node_modules/*
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

ignoreErrors:
    - '#Call to function is_array\(\) with array#'
    - '#Call to function is_string\(\) with string#'
    - '#Binary operation "\\." between mixed#'
    - '#Cannot access property#'
    - '#Cannot call method#'
    - '#Part \$charset_collate.* cannot be cast to string#'
    - '#Method .* has no return type specified#'
    - '#no value type specified in iterable type#'
    - '#Parameter #\d+ .* expects .* mixed given#'
    - '#Result of.*always.*#'
    - '#Function .* return type has no value type specified in iterable#'
    - '#Dead code.*#'
